---
title: <title><%= ' - ' + current_article.title unless current_article.nil? %></title>
---

<% wrap_layout :blog_layout do %>

  <div class="blog-post">
    <h1 class="blog-post-title"><%= current_article.title %></h1>
    <p class="blog-post-meta">
    <time datetime="<%= current_article.date %>">
      <%= current_article.date.strftime('%B %e, %Y') %>
    </time>
    <%# by <a href="#">Oli</a> %>
    </p>
    <%= yield %>
    <hr>
  </div>

<% end %>
