<% wrap_layout :layout do %>

  <div class="container">
    <a name="top"></a>
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <% unless current_page.path == "blog/index.html" %>
            <a class="text-muted" href="/blog">All articles</a>
          <% end %>
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="/blog"><%= data.site_info.blog_title %></a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="text-muted" href="/">my .com</a>
        </div>
      </div>
    </header>
  </div>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">

        <%= yield %>

      </div><!-- /.blog-main -->

      <aside class="col-md-4 blog-sidebar">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="font-italic">About</h4>
          <p class="mb-0"> <%= data.site_info.about %></p>
          <p>
            <%= partial "social_links" %>
          </p>
        </div>

        <div class="p-4">
          <h4>Recent Articles</h4>
          <ol class="list-unstyled">
            <% blog.articles[0...10].each do |article| %>
              <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
            <% end %>
          </ol>
        </div>

        <div class="p-4">
          <h4>By Year</h4>
          <ol class="list-unstyled">
            <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
              <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
            <% end %>
          </ol>
        </div>
      </aside><!-- /.blog-sidebar -->
    </div>
  </main>
  <footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>, customized by me.</p>
    <p>
    <%= link_to "Back to top", "#top" %>
    </p>
  </footer>
<% end %>
