<% wrap_layout :layout do %>
  <div class="row">
    <div class="col-sm-8">
      <%= yield %>
    </div>

    <aside class="col-sm-4">
      <p>
        <%= link_to "All articles", "/blog/" %>
      </p>
      <h3>Recent Articles</h3>
      <ol>
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </ol>

      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ol>

      <h3>By Year</h3>
      <ol>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
        <% end %>
      </ol>
    </aside>
  </div>
<% end %>