<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="<%= data.site_info.tag %>">
    <meta name="twitter:creator" content="<%= data.site_info.tag %>">
    <meta name="twitter:title" content="<%= data.site_info.author %>">
    <meta name="twitter:description" content="<%= data.site_info.tagline  %>">
    <meta name="twitter:image" content="https://olafurg.com/images/profile-olafurg.jpg">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway|Roboto">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.2/css/brands.css"
          integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css"
          integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css"
          integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+"
          crossorigin="anonymous">

    <title><%= current_page.data.title ||= data.site_info.author %></title>

    <%= javascript_include_tag  "all", async: true %>

    <%= stylesheet_link_tag "normalize", "all" %>
  </head>

  <body class="<%= page_classes %>">

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
