<!doctype html>
<html lang="en">
  <head>
    <%= partial "head" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "header" %>

    <div class="container">
      <%= yield %>
    </div>

    <%= google_analytics_tag %>
  </body>
</html>
