---
title: Blog - Olafur Gudmundsson
pageable: true
per_page: 10
layout: blog_layout
---

<% if page_articles.count < 1 %>
  <p>No articles published.</p>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <div class="blog-post">
    <h2 class="blog-post-title"><%= link_to article.title, article %></h2>
    <p class="blog-post-meta">
    <time datetime="<%= article.date %>">
      <%= article.date.strftime('%B %e, %Y') %>
    </time>
    <%# by <a href="#">Oli</a> %>
    </p>
    <%= article.summary(350) %>
    <p><%= link_to "Read more", article.url %></p>
  </div>
  <hr/>
<% end %>

<% if paginate %>
  <nav class="blog-pagination">
    <% if prev_page %>
      <%= link_to 'Newer', prev_page, {class: "btn btn-outline-primary"} %>
    <% end %>
    <% if next_page %>
      <%= link_to 'Older', next_page, {class: "btn btn-outline-primary"} %>
    <% end %>
  </nav>
<% end %>
