---
title: Olafur Gudmundsson
---
<div class="starter-template">
  <h1>Olafur Gudmundsson</h1>
  <p class="lead">Icelander in Serbia</p>
  <%= image_tag "images/profile-olafurg.jpg",
                height: "150",
                class: "img-rounded",
                id: "profile",
                alt: "My profile photo" %>
  <ul class="list-inline">
    <% icon_height = "40" %>
    <li>
      <% link_to "https://twitter.com/olafurg" do %>
        <%= image_tag "images/social_02.png", height: icon_height, alt: "Twitter" %>
        @olafurg
      <% end %>
    </li>
    <li>
      <% link_to"https://linkedin.com/in/olafurg" do %>
        <%= image_tag "images/social_06.png", height: icon_height, alt: "LinkedIn" %>
        /olafurg
      <% end %>
    </li>
    <li>
      <% link_to "https://github.com/olafurg" do %>
        <%= image_tag "images/social_14.png", height: icon_height, alt: "GitHub" %>
        /olafurg
      <% end %>
    </li>
    <li>
      <% link_to "https://instagram.com/olafurg" do %>
        <%= image_tag "images/social_04.png", height: icon_height, alt: "Instagram" %>
        /olafurg
      <% end %>
    </li>
    <li>
      <% link_to "mailto:olafurg@gmail.com" do %>
        <%= image_tag "images/social_46.png", height: icon_height, alt: "Email" %>
        olafurg@gmail.com
      <% end %>
    </li>
  </ul>
</div>
