<div class="starter-template">
  <h1><%= data.site_info.author %></h1>
  <p class="lead"> <%= data.site_info.tagline%></p>
  <%= image_tag "images/profile-olafurg.jpg",
                class: "rounded",
                id: "profile",
                alt: "My profile photo" %>
  <%= partial "social_links" %>
  <p>
    <%= link_to data.site_info.blog_title, "/blog", { class: "to-blog" } %>
  </p>
</div>
