---
title: Ólafur Guðmundsson
---
<div class="starter-template">
  <h1>Ólafur Guðmundsson</h1>
  <p class="lead">Icelander living in Belgrade</p>
  <%= image_tag "images/profile-olafurg.jpg",
                height: "150",
                class: "img-rounded",
                id: "profile",
                alt: "My profile photo" %>
  <ul class="list-inline">
    <li>Twitter:   <%= link_to "@olafurg", "https://twitter.com/olafurg" %></li>
    <li>LinkedIn:  <%= link_to "/in/olafurg", "https://linkedin.com/in/olafurg" %></li>
    <li>GitHub:    <%= link_to "/olafurg", "https://github.com/olafurg" %></li>
    <li>Instagram: <%= link_to "/olafurg", "https://instagram.com/olafurg" %></li>
    <li>Email:     <%= mail_to "olafurg@gmail.com" %></li>
  </ul>
  <p>Working at <%= link_to "Novomatic Lottery Solutions", "http://novomaticls.com" %> 
    (<abbr title="previously known as">p.k.a.</abbr> Betware).</p>
</div>
